* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
}

.wrapper {
  border: 1px solid black;
  padding: 2rem;
}

.container {
  width: 40vw;
  max-width: 100%;
  height: 75vh;
  margin: 0 auto;
  margin-top: 8rem;
  overflow: auto;
}

.quoteText {
  font-size: 1.6rem;
  text-align: center;
  padding: 2.5rem;
  line-height: 1.5;
  font-family: 'Lora', serif;

}

.dates {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  font-size: 1.5rem;
}

.wrapper2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  
}

.fabutton {
  border: none;
}

.btn {
  padding: 0.8rem;
  border-radius: 10%;
  
}

.btn:hover {
  background-color: rgb(156, 155, 155);
  -webkit-box-shadow: 5px 5px 9px 0px #000000; 
  box-shadow: 5px 5px 9px 0px #000000;
}

.fa-circle-plus {
  width: 2.5rem;
  color:black;
}

.fa-circle-plus:hover {
  color: grey;
}

/* Input type field */
input::placeholder {
  color: red;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid rgb(12, 12, 12);
}


.to-do {
 width: 52rem;
 border: 0;
 
 padding: 1.2rem;
 border: 2px solid red;
}

/* list style */

li {
  font-size: 2rem;
  list-style: none;
  text-align: center;
  margin-top: 0.2rem;
  padding: 1rem;
  position: relative;
  
}

.item {
  font-family: 'Lora', serif;
  font-size: 1.8rem;
  background-color: rgb(224, 223, 223);
  cursor: pointer;
}

input.check {
 position: absolute;
 left: 4rem;
 top: 1.3rem;
 border-radius: 50%;
 width: 20px;
 height: 20px;
}

.fa-trash-can {
  position: absolute;
  right: 4rem;
  top: 1.3rem;
  width: 20px;
  height: 20px;
}

.fa-trash-can:hover {
  color: grey;
}

.marked {
  text-decoration: line-through;
  color: red
}




